<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Blog Page</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .btn-custom { background-color: #FF4500; /* Orange Red */ color: white
      !important; }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/"><img
            src="/assets/img/logo.png"
            style="height: 30px"
          /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
            <li class="nav-item"><a
                href="/contact"
                class="btn btn-custom nav-link"
              >Contact Me</a></li>
            {{#if user}}
              <li class="nav-item"><span class="navbar-text">Welcome {{user.name}}</span></li>
              <li class="nav-item">
                <form action="/logout" method="post" class="d-inline">
                  <button type="submit" class="btn btn-link nav-link">Logout</button>
                </form>
              </li>
            {{else}}
              <li class="nav-item"><a href="/login" class="btn btn-custom nav-link">Login</a></li>
              <li class="nav-item"><a href="/register" class="btn btn-custom nav-link">Register</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <h1>Edit Post Blog</h1>
          <form method="post" action="/edit-blog/{{blog.id}}">
            <div class="form-group">
              <label for="input-blog-title">Title</label>
              <input
                id="input-blog-title"
                name="title"
                value="{{blog.title}}"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="input-blog-content">Content</label>
              <textarea
                id="input-blog-content"
                name="content"
                class="form-control"
              >{{blog.content}}</textarea>
            </div>
            <div class="form-group">
              <label>Upload Image</label>
              <div class="custom-file">
                <input
                  type="file"
                  id="input-blog-image"
                  class="custom-file-input"
                />
                <label class="custom-file-label" for="input-blog-image">Choose
                  file</label>
              </div>
            </div>
            <button type="submit" class="btn btn-custom mt-3">Edit Blog</button>
          </form>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
  </body>
</html>